{% extends 'base.html.twig' %}

{% block title %}Confirmer Clôture{% endblock %}

{% block body %}
    <h1>Confirmer la Clôture de l'Intervention {{ intervention.id }}</h1>

    <form method="post">
        <p>Êtes-vous sûr de vouloir clôturer cette intervention?</p>
        <button type="submit" name="confirm" value="yes">Oui</button>
        <a href="{{ path('cloture_interventions') }}">Non</a>
    </form>
{% endblock %}
